.carousel-inner {
    max-width: 80% !important;
    margin: 0 auto;
}

.slider-title {
    color: $red;
    font-size: 60px;
    text-shadow: 1px 1px $sun;
}

.slider-subtitle {
    color: $red;
    font-size: 40px;
    text-shadow: 1px 1px $sun;
}