ul {
    list-style-type: none!important;
    margin: 0!important;
    padding: 0!important;
}

a {
    text-decoration: none !important;
}

button {
    &:active,
    &:focus {
        border: none;
        border-radius: 0rem!important;
        outline: none !important;
    }
}

@font-face {
    font-family: "Itim";
    src: url("/fonts/Itim-Regular.woff2") format("woff2"), url("/fonts/Itim-Regular.woff") format("woff");
}

body {
    font-family: "Itim";
}